[Desktop Entry]
Categories=System;
Comment=Show basic info of the computer.
Exec=gio open computer:///
GenericName=Computer
Icon=computer
Name=Computer
OnlyShowIn=Deepin;
Terminal=false
Type=Application
X-AppStream-Ignore=true
X-Deepin-AppID=dde-computer

