[Desktop Entry]
Categories=System;
Comment=Open trash.
Exec=gio open trash:///
GenericName=Open Trash.
Icon=user-trash
Name=Trash
OnlyShowIn=Deepin;
Terminal=false
Type=Application
X-AppStream-Ignore=true
X-Deepin-AppID=dde-trash

