Source: gxde-file-manager
Section: libdevel
Priority: optional
Maintainer: gfdgd xi <3025613752@qq.com>
Build-Depends:
 debhelper (>=9),
 pkg-config,
 qt5-qmake,
 qtbase5-dev,
 qtbase5-private-dev,
 libqt5x11extras5-dev,
 libjemalloc-dev,
 libgsettings-qt-dev,
 libqt5svg5-dev,
 libmagic-dev,
 libsecret-1-dev,
 libpoppler-cpp-dev,
 libpolkit-agent-1-dev,
 libpolkit-qt5-1-dev,
 qtmultimedia5-dev,
 libffmpegthumbnailer-dev,
 libtag1-dev,
 libdtkwidget2-dev,
 libxcb1-dev,
 x11proto-core-dev,
 libx11-dev,
 qttools5-dev-tools,
 libglib2.0-dev,
 gxde-dock-dev(>=4.8.4.1),
 libxcb-ewmh-dev,
 libxcb-shape0-dev,
 libgxframeworkdbus-dev,
 libxcb-util0-dev,
 qtdeclarative5-dev,
 deepin-gettext-tools,
 libkf5codecs-dev,
 libdtkcore2-dev,
 libdtkcore-bin,
 libgxmr-dev,
# deepin-anything-dev,
# deepin-anything-server-dev,
 libudisks2-qt5-dev,
 libxrender-dev,
 libmtdev-dev,
 libfontconfig1-dev,
 libfreetype6-dev,
 libegl1-mesa-dev,
 libdisomaster-dev,
 libwebp-dev,
 libqt5xdg-dev
Standards-Version: 3.9.8
Homepage: http://www.deepin.org

Package: gxde-file-manager
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libgxde-file-manager( =${binary:Version}),
 socat,
 libdtkwidget2,
 libdtkcore2, 
 libdisomaster,
 libisoburn1,
 gxde-compressor,
Provides:
 dde-file-manager
Replaces:
 dde-file-manager,
Conflicts:
 dde-file-manager(>> 5.0.1-1)
Recommends: dde-qt5integration, avfs
Description: File manager front end
 File manager front-end of Deepin OS

Package: gxde-desktop-panel
Architecture: any
Depends: 
 ${shlibs:Depends}, 
 ${misc:Depends}, 
 libgxde-file-manager( =${binary:Version}),
 gxde-daemon,
 gxde-requ
Conflicts: dde-workspace (<< 2.90.5), dde-desktop (>> 5.0.1-1)
Provides: dde-desktop
Replaces: dde-desktop
Recommends: 
 deepin-screensaver,
 fantascene-dynamic-wallpaper
Description: deepin desktop-environment - desktop module
 Deepin Desktop Environment (DDE) - desktop module.

Package: gxde-disk-mount-plugin
Architecture: any
Provides: dde-disk-mount-plugin
Conflicts: dde-disk-mount-plugin (>> 5.0.1-1)
Replaces: dde-disk-mount-plugin
Depends: ${shlibs:Depends}, ${misc:Depends}, libgxde-file-manager( =${binary:Version})
Description: plugin of gxde-dock
 Disk mount plugin of gxde-dock which is created by libgxde-file-manager

Package: libgxde-file-manager
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libpoppler-cpp0v5 | libpoppler-cpp1 | libpoppler-cpp2,
 gvfs-backends(>=1.27.3),
 cryptsetup,
 libkf5codecs5,
# deepin-anything-libs
Breaks: gxde-file-manager(<=1.2.3-3)
Replaces: libdde-file-manager
Conflicts: libdde-file-manager (>> 5.0.1-1)
Provides: libdde-file-manager
Multi-Arch: same
Description: DDE File Manager library
 This package contains the shared libraries.

Package: libgxde-file-manager-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgxde-file-manager( =${binary:Version})
Replaces: libdde-file-manager-dev
Conflicts: libdde-file-manager-dev (>> 5.0.1-1)
Provides: libdde-file-manager-dev
Description: DDE File Manager Devel library
 This package contains the header files and static libraries
 of libgxde-file-manager
